@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Barlow", sans-serif;
}
:root{
    --main-color: #ff4d29;
}
a{
    color:#092032;
    text-decoration: none;
}
img{
    width: 100%;
}
.btn-brand{
    background: var(--main-color);
    color: #fff;
    border-radius: 10px;
    padding: 8px 15px;
}
.btn-brand:hover{
    background: #ee6d6d;
    color:#000;
}
.nav-top{
    background: var(--main-color);
    padding: 5px;
}
.nav-top p{
    margin-bottom: 0;
    margin-right: 16px;
    color:#fff;
}
.social-links a{
    width: 34px;
    height: 34px;
    background: rgba(255, 255, 255, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    font-size: 18px;
    border-radius: 50%;
}
.social-links a:hover{
    color:var(--main-color);
    background: #fff;
}
.navbar{
    box-shadow: 0 6px 6px rgba(255, 4, 4, 0.08);
}
.navbar-brand{
    font-weight: 700;
    font-size: 26px;
}
 li.nav-item{
    border-radius: 5%;
    
}
 .nav-item .nav-link.active,
 .nav-item:hover{
    background: var(--main-color);
    
}

 .navbar .navbar-nav .nav-link:hover{
    color:#ffffff;
}
.slider .carousel-inner img{
    height: 100vh;
}
.slider .carousel-caption h2{
    font-weight: 800px;
    font-size: 56px;
}
.slider .carousel-caption{
    background: rgba(0, 0, 0, 0.4);
    width: 450px;
    padding: 15px;
}

/* about section  */

.about img{
    height: 80px;
    width: 80px;
}
.about .right-hand img{
    height: 300px; width: 200px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.about h4{
    font-weight: 700;
    font-size: 36px;
}

.milestone{
    background: var(--main-color);
    padding: 20px;
    color: #fff;
}
.milestone h4{
    font-size: 48px;
}
.intro{
    padding: 20px 0;
}
.intro h6{
    color: var(--main-color);
    font-weight: 700;
}
.intro p{
    width: 500px;
}
.service-box{
    margin: 0 auto;
}
.service-box img{
    margin:0 auto;
    width: 100px;
    height: 100px;
   
}